<div class="container">
    <div class="row justify-content-center mt-5">
        <div class="col-8">
            <%= render "shared/errors",obj: @project%>
            <%= form_with(model: @project,class:"shadow-sm p-3 mb-2 bg-info rounded",local: true ) do |f| %>
                <div class="form-group row">
                    <%= f.label :name,class:"col-2 col-form-label text-white" %>
                    <div class="col-10">
                        <%= f.text_field :name,class:"form-control shadow rounded",placeholder: "Title of project"%>
                    </div>
                </div>

                <div class="form-group row">
                    <%= f.label :description ,class:"col-2 col-form-label text-white"%>
                    <div class="col-10">
                        <%= f.text_area :description, rows: 10, class:"form-control shadow rounded",placeholder: "Description of project" %>
                    </div>
                </div>
                <div class="form-group row">
                    <%= f.label :user_type ,class:"col-2 col-form-label text-white"%>
                    <div class="col-10">
                         <%= f.collection_select(:user_ids,User.where(user_type:"Qa").or( User.where(user_type:"Developer")).all , :id, :name_with_type,
                        {prompt: "Make your selection from the list below (can be empty)"}, { multiple: true, size: 3 ,class: "custom-select shadow rounded" }) %>
                    </div>   
                </div>
                <div class="justify-content-center">
                    <%= f.submit class:"btn btn-outline-light btn-lg"%>
                </div>
            <%end%>
            <center>
              <div class="my-4">
                  <%= link_to "[ Return to project listing ]" ,projects_path,class:"text-info" %>
              </div>
            </center>
        </div>
    </div>
</div>