<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link_to 'Bug Tracking', root_path ,class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <% if !user_signed_in?%>
          <li class="nav-item">
            <%= link_to 'Sign up', new_user_registration_path,class:"btn btn-dark " %>
          </li>
        <%end%>
        <% if !user_signed_in?%>
          <li class="nav-item">
            <%= link_to 'Sign in', new_user_session_path,class:"btn btn-dark " %>
          </li>
        <%end%>

        <li class="nav-item dropdown">
          <a class="btn btn-dark dropdown-toggle project-dropdown" href="#" id="projectLabel" role="button" data-toggle="dropdown" aria-expanded="false">
            Projects
          </a>
          <ul class="dropdown-menu" aria-labelledby="projectLabel">
            <li><%= link_to 'View projects', projects_path,class:"dropdown-item" %></li>
            <% if can? :create ,Project.new%>
              <li><%= link_to 'Create new project', new_project_path,class:"dropdown-item" %></li>
            <%end%>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="btn btn-dark dropdown-toggle bug-dropdown" href="#" id="bugLabel" role="button" data-toggle="dropdown" aria-expanded="false">
            Bugs
          </a>
          <ul class="dropdown-menu" aria-labelledby="bugLabel">
            <li><%= link_to 'View bugs', bugs_path,class:"dropdown-item" %></li>
          </ul>
        </li>
        <%if user_signed_in?%>
          <li class="nav-item dropdown">

          <a class="btn btn-dark dropdown-toggle" href="#" id="signoutLabel" role="button" data-toggle="dropdown" aria-expanded="false">
            [<%=current_user.user_type%>]<%= current_user.name %>
          </a>
          <ul class="dropdown-menu" aria-labelledby="signoutLabel">
            <li><%= link_to 'Sign out', destroy_user_session_path,class:"dropdown-item" ,method: :delete%></li>
          </ul>
          </li>
        <%end%>
      </ul>
    </div>
  </div>
</nav>